@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

.font-jakarta-sans {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.font-dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.landingPageAttorneySection {
  position: relative;
}

.landingPageAttorneySection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image:
    url('../src/assests/LandingPage/usaFlagAttorneyTop.png'),
    url('../src/assests/LandingPage/usaFlagAttorneyTopRotate.png');
  background-position: top 0px left -322px, bottom 0px right -500px;
  background-repeat: no-repeat, no-repeat;
  background-size: 60%, 64%;
  opacity: 0.4;
  /* Makes only the images 40% transparent */
  z-index: 50;
  /* Keeps it behind the content */
}

.simpleSteps {
  position: relative;
}

.simpleSteps::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image:
    url('../src/assests/LandingPage/usaFlagAttorneyTop.png');
  background-position: top 0px left -322px;
  background-repeat: no-repeat;
  background-size: 52%;
  opacity: 0.4;
  /* Makes only the images 40% transparent */
  z-index: 50;
  /* Keeps it behind the content */
}

.oval {
  background-color: #E5F2FD;
  border-radius: 50%;
}

.googleReviewContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../src/assests/LandingPage/googleReviewsBackground.png');
  background-position: left -24px bottom 0px;
  background-repeat: no-repeat;
  background-size: 70%;
  opacity: 0.1;
  /* Makes only the images 40% transparent */
  z-index: 0;
}

.heroPageGradient {
  border-radius: 50%;
  background-image: linear-gradient(to bottom,
      rgba(200, 16, 46, 0.39) 0%,
      rgba(37, 60, 123, 0.59) 100%);
  filter: blur(257px);
  position: absolute;
  top: -2%;
  left: 0%;
  width: 1600px;
  height: 1600px;
}

.gradientLandingPageEclipse {
  border-radius: 50%;
  background-image: linear-gradient(to bottom,
      rgba(200, 16, 46, 0.49) 0%,
      rgba(37, 60, 123, 0.59) 100%);
  filter: blur(257px);
  position: absolute;
  top: 22%;
  left: 30%;
  width: 1600px;
  height: 1600px;
}

.footerGradient {
  border-radius: 50%;
  background-image: linear-gradient(to bottom,
      rgba(200, 16, 46, 0.49) 0%,
      rgba(37, 60, 123, 0.59) 100%);
  filter: blur(257px);
  position: absolute;
  bottom: -80%;
  left: 0%;
  width: 1600px;
  height: 1600px;
}




.custom-text {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  fill: #007EE8 !important;
}

.SimpleStepsSvg {
  position: absolute;
  left: -33px !important;
}

.landingPageFooter,
.landingPageFooterWithoutDisc {
  background-image: url('../src/assests/FooterFlag.png');
  background-position: right -147px bottom -443px;
  background-repeat: no-repeat;
  background-size: 35% 74%
}

.landingPageFooterWithoutDisc {
  background-position: right -145px bottom 380px;
  background-size: 36% 32%
}

/* media query */




@media screen and (max-width: 768px) {
  .landingPageAttorneySection::before {
    background-position: top 0px left 0px, bottom 0px right -40px;
    background-size: 54%, 58%;
  }

  .googleReviewContainer::before {
    background-position: center bottom 41px;
    background-size: 100%;
  }

  .simpleSteps::before {
    background-position: top 0px left -25px;
  }

  .landingPageFooter {
    background-position: right -30px bottom -127px;
    background-size: 37% 35%;
  }

  .landingPageFooterWithoutDisc {
    background-position: right -69px bottom 554px;
    background-size: 54% 21%;
  }

  .heroPageGradient {
    top: 0%;
    left: 0%;
    width: 600px;
    height: 600px;
  }

  .footerGradient {
    bottom: -59%;
    left: 1%;
    width: 800px;
    height: 800px
  }


}

@media screen and (min-width: 768px) and (max-width: 1000px) {

  .landingPageAttorneySection::before {
    background-position: top 0px left -169px, bottom 0px right -201px;
    background-size: 54%, 58%;
  }

  .simpleSteps::before {
    background-position: top 0px left -145px;
    background-size: 60%;
  }

  .landingPageFooterWithoutDisc {
    background-position: right -105px bottom 466px;
    background-size: 53% 32%
  }

}

.box-shadow-border{
  box-shadow: 
  0 2px 8px rgba(0, 0, 0, 0.15),
  0 8px 16px rgba(0, 0, 0, 0.3);
}

.hyphenate {
  hyphens: auto;
  word-wrap: break-word;
  word-break: break-word;
}

@keyframes scroll-left {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); } /* scroll half because content is duplicated */
}

@keyframes scroll-right {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0%); }
}

.marquee-scroll-left {
  animation-name: scroll-left;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.marquee-scroll-right {
  animation-name: scroll-right;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}